streamlit
langchain==0.3.13
langchain-community==0.3.13
langchain-core==0.3.28
langchain-ollama==0.2.0
langchain-openai==0.2.14
langchain-huggingface==0.1.2
sentence-transformers== 4.1.0
torch== 2.9.1
llama-index
python-dotenv
pymupdf
numpy== 1.26.4
pytesseract
transformers==4.57.6
peft
trl
datasets
bitsandbytes
wandb
tiktoken
scipy
faiss-cpu
beautifulsoup4
